<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div>
        <div id="signInForm" style="none">
            <form id="landingSignInJobSeeker">
                <label for="signInEmail">Email:</label>
                <input type="text" id="signInEmail">
                <label for="signInPassword">Password:</label>
                <input type="text" id="signInPassword">
            </form>
        </div>

        <div id="signInForm2" style="none">
            <form id="landingSignInClientPoster">
                <label for="signInEmail2">Email:</label>
                <input type="text" id="signInEmail2">
                <label for="signInPassword2">Password:</label>
                <input type="text" id="signInPassword2">
            </form>
        </div>
    </div>

</body>
</html>