

.out-registration{

    width: 750px;
    margin-left: 30%;
    margin-top: -10%;
}
.registration{
    width: 600px;
    height: 500px;
    margin-top: 10%;
    margin-left: 12%;


}

.form-check1{
    margin-left: 150px;
    margin-top: -19px;
    margin-left: 300px;
}

.navbar{
    background-color: rgb(207, 206, 206);
    color: black;
}


.navbar-brand{
    color: black;

}

.Amount-owed{
    margin-left: 80%;
    margin-top: 2%;
    width: 280px;
    height: 250px;

}
.inner-Div{
    margin-left: 26%;
    padding-top: 15%;
}
#butt{
    margin-top: -1%;
    margin-left: 15%;
}

.p-amt-owe{
    background-color: white;
    width: 26%;
    margin-left: 20%;
}

.card-body{

    width: 80%;
    display: inline-block;
    height: 200px;

}
.card-img-top{
    width: 200px;
    margin: 6px;
}

.card{
    width: 100%;
    display: inline;

}

.input-group{
    width: 20%;
    margin-left: 90%;
}
.reg-butt{
    margin-left: 40%;
    margin-top: -20%;
}
.profile{

    width: 15%;
    height: 0%;

}
.card-img-prof{
    margin-bottom: 10%;
}

.prof-inner-Div{
    margin-left: 12%;

}

.profile{
    margin-top: 6%;
    margin-left: 3%;
}


.bidClass {
    display: inline-flex;
}

p {

}

.button-sub{
    width:13%;
}

.div-posting{
    margin-left:450px;
    margin-top:-8%;

}
.buttons{
   margin-left:800px;

}
.head-div{
    padding-top: -15%;
}
.tr-sizer{
    height: 600px;
}
#div-col{

    width:60%;
    border: 1px solid black;
    border-radius: 5px;
}

#pic-div{
    width: 26%;

}

#navID{
background-color: #263238;
}


#