<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet" />

    <link href="/css/JobSeeker.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Ethos-Legal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!--                <li class="nav-item">-->
<!--                    <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModalCenter">-->
<!--                        Post A Job-->
<!--                    </button>-->
<!--                </li>-->
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModalCenter2">
                        Edit Info
                    </button>
                </li>
                <li class="nav-item">
                    <button name="Logout" onclick="window.location.href='/logout'" class="btn btn-outline-light">Logout</button>
                </li>
                <!--        <li class="nav-item">-->
                <!--          <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">-->
                <!--            Button with data-bs-target-->
                <!--          </button>-->
                <!--        </li>-->
            </ul>

        </div>
    </div>
</nav>
    <Header>
        <!--    <div class="Amount-owed">-->
        <!--        <div class="inner-Div">-->
        <!--            <header>-->
        <!--                Amount owed: <p class="p-amt-owe">$200.68</p>-->
        <!--            </header>-->
        <!--            <button type="button" id="butt" class="btn btn-warning">Pay Debt</button>-->

        <!--        </div>-->
        <!--    </div>-->

        <div class="profile">
            <div class="prof-inner-Div">
                <header>
                    <h2>Chase</h2>
                </header>
                <div class="profile-img">

                </div>
                <img class="card-img-prof" src="images/profile-pic-ethos.jpg" alt="Card image cap" width="140px"
                    height="140px">
                <button onClick="window.location.href='/jobs'" type="button-prof" id="butt-Prof"
                    class="btn btn-primary">See All Posts!</button>

            </div>
        </div>


    </Header>
    <h2>Active Jobs</h2>
    <div>
    <table style="width:100%">

        <div th:each="data : ${activeJobs}">
            <tr>
                <section class="post-section">
                    <div class="card" style="width: 119rem; height: 300px">
                        <div class="card-body">
                            <div class="inner-card-body">


                                <img href="/home" class="card-img-top" src="images/lawFirmLogo.jpg" alt="Card image cap"
                                    height="200px">


                                <div class="div-posting">
                                    <header>
                                        <div head-div>
                                            <h5 class="card-title" th:text="${data.jobTitle}">Card title</h5>
                                            <p id="date-type" th:text=" 'DateToComplete: ' + ${data.dateToComplete}">
                                            </p>
                                        </div>
                                    </header>

                                    <p id="serv-type" th:text=" ${data.datePosted} + ' ' + ${data.serviceType} "></p>
                                        <div>
                                            <p class="card-text">
                                            <p th:text="${data.description}"></p>
                                        </div>
                                     </p>
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <form action="/addNote" method="POST">
                                        <div class="input-group">
                                            <input type="hidden" name="jobId" th:value="${data.id}">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Add a Note</span>
                                                </div>
                                            <textarea class="form-control" aria-label="With textarea" name="noteText"></textarea>
                                            <input type="submit">
                                        </div>
                                    </form>
                                </div>
                </section>
            </tr>
        </div>
    </table>
    </div>

    <h2>Outstanding Bids</h2>
    <div>
    <table style="width:100%">

        <div th:each="data : ${outstandingBids}">
            <tr>
                <section class="post-section">
                    <div class="card" style="width: 119rem; height: 300px">
                        <div class="card-body">
                            <div class="inner-card-body">

                                <img href="/home" class="card-img-top" src="images/lawFirmLogo.jpg" alt="Card image cap"
                                    height="200px">


                                <div class="div-posting">
                                    <header>
                                        <div head-div>
                                            <h5 class="card-title" th:text="${data.jobTitle}">Card title</h5>
                                            <p id="date-type" th:text=" 'DateToComplete: ' + ${data.dateToComplete}">
                                            </p>
                                        </div>
                                    </header>

                                    <p id="serv-type" th:text=" ${data.datePosted} + ' ' + ${data.serviceType} "></p>
                                        <div>
                                            <p class="card-text">
                                            <p th:text="${data.description}"></p>
                                        </div>
                                     </p>
                                </div>
                </section>
            </tr>
        </div>
    </table>
    </div>

<div class="out-registration">
    <div class="registration">
<!--        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">-->
<!--            Edit Info-->
<!--        </button>-->
<!--        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"-->
<!--             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
<!--            <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title" id="exampleModalLongTitle">Edit Account Settings</h5>-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                            <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->

<!--                        <form class="row g-3">-->
<!--                            <div class="col-md-6">-->
<!--                                <label for="inputEmail4" class="form-label">Email</label>-->
<!--                                <input type="email" class="form-control" id="inputEmail4">-->
<!--                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                <label for="inputPassword4" class="form-label">Password</label>-->
<!--                                <input type="password" class="form-control" id="inputPassword4">-->
<!--                            </div>-->
<!--                            <div class="col-12">-->
<!--                                <label for="inputAddress" class="form-label">Address</label>-->
<!--                                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">-->
<!--                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                <label for="inputEmail4" class="form-label">Law-Firm</label>-->
<!--                                <input type="text" class="form-control" id="inputEmail4">-->
<!--                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                <label for="inputText4" class="form-label">Business Phone number</label>-->
<!--                                <input type="text" class="form-control" id="inputText4">-->
<!--                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                <label for="inputEmail4" class="form-label">LinkedIN</label>-->
<!--                                <input type="text" class="form-control" id="inputEmail4">-->
<!--                            </div>-->

<!--                            <div class="reg-butt">-->
<!--                            </div>-->
<!--                        </form>-->
<!--                        <div class="modal-footer">-->
<!--                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                            <button type="button" class="btn btn-primary">Save changes</button>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>

</html>